/* start global rules */
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Work Sans', sans-serif;
}
.special-heading{
  color: #eee;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 800;
  font-size: 100px;
  text-transform: capitalize;
  text-align: center;
}
.special-heading + p{
  text-transform: capitalize;
  margin-top: -130px;
  text-align: center;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start header */
.header{
  padding: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo img{
  width: 60px;
}
.container .menu {
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.container .menu:hover.menu span:nth-child(2){
  width: 30px;
  background-color: #10cab7;
}
.container .menu:hover span{
  background-color: #10cab7;
}

.container .menu span{
  background-color: #24484f;
  height: 2px;
  display: block;
  margin-bottom: 5px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
.container .menu span:first-child{
  width: 30px;
}
.container .menu span:nth-child(2){
  width: 20px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
.container .links .menu span:last-child{
  width: 30px;
}

.container .links{
  position: relative;
}

.container .links ul{
  list-style: none;
  display: none;
  width: 350px;
  position: absolute;
  top: 20px;
  left:-300px;
  z-index: 1;
}

.container .links:hover ul{
  display: block;
}

.container .links ul::after{
  content: "";
  border-width:10px ;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -20px;
  right:  20px;
}

.container .links ul li {
  padding: 20px;
  background-color: #eee;
}

.container .links ul li:hover a{
  padding-left: 40px;
  color: #10cab7;
}

.container .links ul li:not(:last-child) {
  border-bottom: 2px solid #ddd;
}

.container .links ul li a{
  text-decoration: none;
  color: black;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
/* end header */

/* start landing */
.landing{
  background-image: url(../images/pexels-pixabay-355770.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
}

.landing .container {
  position: relative;
}
.landing .container h1{
  margin: 0;
  color: #10cab7;
  font-weight: 800;
  font-size: 50px;
}

.landing .container .texts{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  text-align: center;
  width: 350px;
}

.landing .container .texts p{
  color: #24484f;
  line-height: 1.7 ;
}
/* end landing */
/* start feauters */

.feauters .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax( 300px , 1fr));
}

.feauters .container .box{
  text-align: center;
  padding-top: 100px ;
}
.feauters .container .box i{
  color: #10cab7;
}

.feauters .container .box h3{
  font-weight: 800;
  color: #24484f;
}
.feauters .container .box p{
  line-height: 1.7;
}
/* end feauters */
/* start services */
.services .container .folder{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax( 300px, 1fr));
  gap: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .container .folder .card{
  display: grid;
  gap: 20px;
}

.services .container .folder .card .box{
  display: flex;;
}
.services .container .folder .card .box i{
  color: #10cab7;
  margin-right: 30px;
}
.services .container .folder .card .box .text h3{
  margin-top: 0;
}
.services .container .folder .card .box .text p{
  line-height: 1.7;
}
.services .container .folder .photo{
  position: relative;
}

.services .container .folder .photo img {
  max-width: 100%;
  height: 400px;
  border-right: 60px solid #2c4755;
}

.services .container .folder .photo::after{
  content: "";
  position: absolute;
  top: -60px ;
  right: 0;
  height: 60px ;
  width: 150px;
  background-color: #2c4755;
}
.services .container .folder .photo::before{
  content: "";
  position: absolute;
  bottom: -55px ;
  right: 0;
  height: 60px ;
  width: 150px;
  background-color: #2c4755;
}
/* end services */
/* start portofoil */
.Portfolio{
  background-color: #fafafa;
}

.Portfolio .container .row{
  display: grid ;
  grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
  padding-top: 100px;
  gap: 20px ;
    padding-bottom: 100px;
}

.Portfolio .container .row .coulmn .images img{
  width: 100%;
  height: 400px;
}
.Portfolio .container .row .coulmn .text{
  background-color: white;
  padding: 15px;
}
.Portfolio .container .row .coulmn .text h3{
  margin-top: 0;
  font-weight: 800;
}
.Portfolio .container .row .coulmn .text p{
  line-height: 1.7;
  color: #4d4c4c;
}
/* end portofoil */
/* start about */
.about .container .main-folder{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(400px , 1fr)) ;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .container .main-folder .images{
  position: relative;
}
.about .container .main-folder .images::after{
  content: "";
  width: 100px;
  height: 350px;
  background-color: #10cab7;
  position: absolute;
  left: 240px;
  top: -40px;
  z-index: -1;
}
.about .container .main-folder .images::before{
  content: "";
  width: 200px;
  height: 100px;
  background-color: #10cab7;
  position: absolute;
  left: 240px;
  bottom:  45px;
  z-index: -1;
}
.about .container .main-folder .images img{
  max-width: 100%;
  width: 300px;
  height: 350px;
}
.about .container .main-folder .texts .one{
  color: #24484f;
  font-weight: 800;
  line-height: 1.9;
  font-size: 20px;
  position: relative;
}
.about .container .main-folder .texts .one::after{
  content: "";
  width: 300px ;
  height: 2px ;
  background-color: #10cab7;
  bottom: -50px;
  left: 0;
  position: absolute;
}
.about .container .main-folder .texts .two{
  line-height: 1.8;
  margin-top: 70px;
}
/* end about */
/* start contact */
.contact{
    background-color: #fafafa;
}
.contact .container .informations{
  padding-top:  100px;
  padding-bottom:  100px;
  text-align: center;
}
.contact .container .informations h1{
  color: #24484f;
  font-weight: 800;
}
.contact .container .informations h3{
  color: #10cab7;
  font-weight: 800;
  font-size: 30px;
}
.contact .container .informations .last-line{
  display: flex;
  justify-content:center;
  align-items: center;

}
.contact .container .informations .last-line p{
  margin-right: 40px;
}
.contact .container .informations .last-line .icons i{
    padding-left: 15px;
    padding-right: 15px;
}
/* end contact */
/* start footer */
.footer {
  background-color: #24484f;
}
.footer .container{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-weight: 800 ;
}
.footer .container p{
margin: 0;
}
.footer .container p b{
  color: #10cab7;
}
/* end footer */

